.project{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    text-align: center;
}
table,
th,
td{
    border: 1px solid #e7e7e7;
    padding: 10px;
}
th{
    background-color: darkorchid;
    color: #fff;
}
.color{
    color: aliceblue;
    display: flex;
    flex-direction: row;
}